body {
    background: Linen;
    margin-top: 50px;
    margin-left: 100px;
}

h1 {
    font-family: 'Cormorant Garamond', serif, ;
    font-size: 2.5em;
    color: rgb(63, 45, 40);
    font-weight: bold;
}

p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: DarkSlateGray;
}

input[type=submit] {
    width: max-content;
    border: 2.5px thin #555;
} 