{% extends 'base.html' %}
{% block title %} Charakter {% endblock %}
{% block content %}
<h1>Generierter Charakter</h1>
<p>Name: {{ character["name"] }}</p>
<p>Volk: {{ character["nation"] }}</p>
<p>Beruf: {{ character["profession"] }}</p>
<p>Eigenschaften: </p>
<ul>
  {% for item in character["traits"] %}
  <li><a> {{ item }}</a></li>
  {% endfor %}
</ul>
<p>Attribute: </p>
<table>
  {% for key, value in character["attributes"].items() %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
</table>
<h2>Optionen</h2>
<form method="post" action="/generate">
  <input type="submit" value="erneut generieren" name="action_generate_char" />
</form>
{% endblock %}