<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/staticFiles/main.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
    <!--  Load JavaScript in Flask with html-->

    <!--
    <script>
      alert("Diese Seite hat keinen Anspruch an Verfügbarkeit und Stabilität!")
    </script>
    -->

  </head>
  <body>
    <h1>Dein DSA-Charakter</h1>
    <p>Name: {{ name }}</p>
    <p>Rasse: {{ race }}</p>
    <p>Beruf: {{ profession }}</p>
    <td>Charaktereigenschaften: </td>
    <ul>
      {% for item in character_traits %}
          <li><a> {{ item }}</a></li>
      {% endfor %}
    </ul>
    <table>
      <tr>
        <th>Attribut</th>
        <th>Wert</th>
      </tr>
      {% for attribute in attributes %}
      <tr>
        <td>{{ attribute }}</td>
        <td>{{ attribute_values[attribute] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>